html, body {
  margin: 0;
  padding: 0;
}
.alto-contraste {
  filter: contrast(1.4);
  background-color: #000 !important;
  color: #fff !important;
}

#seccionGOV,
#headerFNAT {
  width: 100%;
}

.containerr {
  width: 100%;
}

.linkGob {
  text-decoration: none;
}

.logofna {
  max-width: 100%;
  height: auto;
}

.font-plus-cell {
  width: 20px;
}

.font-plus {
  font-size: xx-large;
  color: white;
}

.font-minus-cell {
  width: 30px;
  text-align: center;
  color: white;
}

.contrast-cell {
  width: 30px;
  text-align: center;
}